.tarjeta-cr-dito {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .mtodo-de-pago {
    margin: 0 1.1rem 4.7rem 1.1rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Text';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .resumen-de-la-compra {
    margin: 0 0 1rem 0.3rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Text';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .container {
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .subtotal {
    margin: 0.1rem 0.9rem 0.1rem 0;
    display: inline-block;
    width: 33.7rem;
    overflow-wrap: break-word;
    font-family: 'Source Serif Pro', 'Roboto Condensed';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .total {
    margin-right: 0.9rem;
    width: 34.2rem;
    overflow-wrap: break-word;
    font-family: 'Source Serif Pro', 'Roboto Condensed';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .container-1 {
    overflow-wrap: break-word;
    font-family: 'Source Serif Pro', 'Roboto Condensed';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .line-6 {
    filter: blur(0rem);
    background: #CFC7C7;
    position: relative;
    margin: 0 0rem 1.5rem 0.1rem;
    width: 40.1rem;
    height: 0.1rem;
  }
  .tarjeta-cr-dito .line-7 {
    filter: blur(0rem);
    background: #CFC7C7;
    position: absolute;
    left: 2.4rem;
    top: 3.8rem;
    right: 2.6rem;
    height: 0.1rem;
  }
  .tarjeta-cr-dito .line-8 {
    filter: blur(0rem);
    background: #CFC7C7;
    position: relative;
    margin: 0 0 0.7rem 0.1rem;
    width: 40.1rem;
    height: 0.1rem;
  }
  .tarjeta-cr-dito .line-9 {
    filter: blur(0rem);
    background: #CFC7C7;
    position: absolute;
    left: 2.4rem;
    top: 21.8rem;
    right: 2.6rem;
    height: 0.1rem;
  }
  .tarjeta-cr-dito .line-13 {
    filter: blur(0rem);
    background: #958F8F;
    margin-right: 0.2rem;
    width: 40rem;
    height: 0.1rem;
  }
  .tarjeta-cr-dito .line-10 {
    filter: blur(0rem);
    background: #CFC7C7;
    margin: 0 0 2rem 0.1rem;
    width: 40.1rem;
    height: 0.1rem;
  }
  .tarjeta-cr-dito .rectangle-21 {
    background: #D9D9D9;
    margin-top: 0rem;
    width: 15.1rem;
    height: 14.3rem;
  }
  .tarjeta-cr-dito .container-2 {
    margin-bottom: 12.1rem;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Source Serif Pro', 'Roboto Condensed';
    font-weight: 400;
    font-size: 1.9rem;
    color: #000000;
  }
  .tarjeta-cr-dito .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 14.2rem;
    height: 3.9rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .compra-100-segura {
    margin: 0.8rem 0 1.2rem 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .textbotton {
    border-radius: 2.5rem;
    background: #36466B;
    position: relative;
    margin-left: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.1rem 0;
    width: 19.3rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .credito {
    border-radius: 0.9rem;
    background: #A0B1B6;
    position: relative;
    margin: 0 0.2rem 3.8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    padding: 0.1rem 1.3rem 0.1rem 1.6rem;
    width: 25rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .informacin-de-contacto {
    margin: 0 1.7rem 0.3rem 1.7rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Text';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .informacin-de-envo {
    margin: 0 1.1rem 0.6rem 1.1rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Text';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .line-14 {
    filter: blur(0rem);
    background: #958F8F;
    margin: 0 0.2rem 1.1rem 0;
    width: 40rem;
    height: 0.1rem;
  }
  .tarjeta-cr-dito .line-12 {
    filter: blur(0rem);
    background: #958F8F;
    margin: 0 0 1rem 0.2rem;
    width: 40rem;
    height: 0.1rem;
  }
  .tarjeta-cr-dito .correo {
    margin: 0 0.6rem 0.3rem 0.6rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .nombres-yapellidos {
    margin: 0 0.6rem 0.3rem 0.6rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .celular {
    margin: 0 0.6rem 1rem 0.6rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .direccin {
    margin: 0 0.6rem 0.3rem 0.6rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .departamento-ymunicipio {
    margin: 0 0.6rem 0.3rem 0.6rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .tiempo-de-entrega {
    margin: 0 0.6rem 2.3rem 0.6rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
  }
  .tarjeta-cr-dito .group-9 {
    border-radius: 0.6rem;
    background: #D9D9D9;
    position: relative;
    margin-right: 1.3rem;
    padding: 0.7rem 0.4rem 0.6rem 0.4rem;
    width: 19.4rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .group-10 {
    border-radius: 0.6rem;
    background: #D9D9D9;
    position: relative;
    padding: 0.7rem 0.4rem 0.6rem 0.4rem;
    width: 19.4rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .group-11 {
    border-radius: 0.6rem;
    background: #D9D9D9;
    position: relative;
    margin-right: 1.3rem;
    padding: 0.7rem 0.4rem 0.6rem 0.4rem;
    width: 19.4rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .group-12 {
    border-radius: 0.6rem;
    background: #D9D9D9;
    position: relative;
    padding: 0.7rem 0.4rem 0.6rem 0.4rem;
    width: 19.4rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .group-13 {
    border-radius: 0.6rem;
    background: #D9D9D9;
    position: relative;
    margin: 0 0 1rem 0.3rem;
    align-self: center;
    padding: 0.7rem 0.4rem 0.6rem 0.4rem;
    width: fit-content;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .container {
    margin: 0 0rem 0.6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40.2rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .container-1 {
    margin: 0 0.2rem 2rem 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .container-2 {
    margin: 1.6rem 2.3rem 7.3rem 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .container-3 {
    background: #F7F7F7;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.6rem 1.6rem 0.6rem 2.4rem;
    width: 90rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .container-4 {
    background: #EBEAEA;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9rem 2.6rem 21.8rem 2.3rem;
    width: 45rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .container-5 {
    margin: 0 1.1rem 2.1rem 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 38.9rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .container-6 {
    margin: 0 0rem 5.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40.2rem;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .container-7 {
    margin: 0 0.2rem 1.3rem 0;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .tarjeta-cr-dito .imagen-de-whats-app-20240206-alas-20423 {
    background: url('../assets/images/imagenDeWhatsApp20240206Alas20423.jpeg') 50% / cover no-repeat;
    width: 14.2rem;
    height: 3.9rem;
  }
  .tarjeta-cr-dito .texto {
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Text';
    font-weight: 400;
    font-size: 1.9rem;
    color: #FFFFFF;
  }
  .tarjeta-cr-dito .tarjeta-crdito {
    margin-right: 1.2rem;
    width: 18.6rem;
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.9rem;
    color: #000000;
  }
  .tarjeta-cr-dito .credit-card {
    background: url('../assets/images/creditCard.png') 50% / contain no-repeat;
    margin: 0.1rem 0 0.3rem 0;
    width: 2.4rem;
    height: 1.9rem;
  }
  .tarjeta-cr-dito .texto-1 {
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #948F8F;
  }
  .tarjeta-cr-dito .texto-2 {
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #948F8F;
  }
  .tarjeta-cr-dito .texto-3 {
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #948F8F;
  }
  .tarjeta-cr-dito .texto-4 {
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #948F8F;
  }
  .tarjeta-cr-dito .texto-5 {
    overflow-wrap: break-word;
    font-family: 'Libre Caslon Display';
    font-weight: 400;
    font-size: 1.6rem;
    color: #948F8F;
  }
  .tarjeta-cr-dito .container-8 {
    margin-left: 2.6rem;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }