.frame-child {
    height: 83px;
    width: 1440px;
    position: relative;
    background-color: var(--color-whitesmoke-100);
    display: none;
    max-width: 100%;
  }
  .logo-icon {
    height: 63px;
    width: 227px;
    position: relative;
    object-fit: cover;
  }
  .compra-100-segura,
  .logo {
    align-self: stretch;
    z-index: 1;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .compra-100-segura {
    height: 37px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .compra-100-segura-wrapper {
    width: 199px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-smi) 0 0;
    box-sizing: border-box;
  }
  .page-container,
  .rectangle-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent {
    flex: 1;
    background-color: var(--color-whitesmoke-100);
    justify-content: space-between;
    padding: var(--padding-3xs) var(--padding-6xl) var(--padding-3xs)
      var(--padding-20xl);
    gap: var(--gap-xl);
    text-align: right;
    font-size: var(--font-size-6xl);
    color: var(--color-black);
    font-family: var(--font-libre-caslon-display);
  }
  .page-container {
    height: 103px;
    justify-content: flex-start;
    padding: 0 0 var(--padding-xl);
    top: 0;
    z-index: 99;
    position: sticky;
  }
  .mis-compras {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .mis-pedidos {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-8xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .los-artculos-no {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    font-family: var(--font-libre-caslon-display);
  }
  .frame-wrapper,
  .mis-pedidos-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .mis-pedidos-parent {
    width: 621px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
  }
  .frame-wrapper {
    width: 1105px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .precio1,
  .producto {
    position: relative;
    display: inline-block;
  }
  .producto {
    width: 132px;
    flex-shrink: 0;
  }
  .precio1 {
    width: 104px;
  }
  .resumen-de-compra {
    width: 146px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .cantidad,
  .total {
    width: 130px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .total {
    width: 101px;
  }
  .precio {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 46px;
    max-width: 100%;
  }
  .producto-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-parent,
  .pgina-pago-inner,
  .producto-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent {
    width: 1151px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 44px;
  }
  .pgina-pago-inner {
    width: 1395px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-libre-caslon-text);
  }
  .frame-item,
  .pgina-pago-child {
    align-self: stretch;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-item {
    flex: 1;
    position: relative;
    filter: blur(4px);
    border-top: 1px solid var(--color-black);
  }
  .pgina-pago-child {
    height: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-11xs) var(--padding-mini) 0;
  }
  .container-minus-plus-child {
    border: 0;
    background-color: var(--color-gainsboro);
    height: 229px;
    width: 263px;
    outline: 0;
    position: relative;
  }
  .div {
    position: relative;
    display: inline-block;
    min-width: 100px;
    white-space: nowrap;
  }
  .minus-icon {
    width: 22.1px;
    height: 20.5px;
    position: relative;
    object-fit: cover;
  }
  .minus-wrapper {
    height: 39.9px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-lgi-4) 0 0;
    box-sizing: border-box;
  }
  .p {
    margin: 0;
  }
  .div1 {
    height: 43px;
    flex: 1;
    position: relative;
    display: inline-block;
  }
  .plus-icon {
    width: 22.1px;
    height: 20.5px;
    position: relative;
    object-fit: cover;
  }
  .plus-wrapper {
    height: 39.9px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-lgi-4) 0 0;
    box-sizing: border-box;
  }
  .frame-div,
  .minus-plus-button,
  .plus-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .frame-div {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-start;
    gap: 19.2px;
  }
  .minus-plus-button {
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 5.4px;
  }
  .div2 {
    position: relative;
    font-size: var(--font-size-11xl);
    font-family: var(--font-source-serif-pro);
    display: inline-block;
    min-width: 101px;
    white-space: nowrap;
  }
  .comprobacion-compra,
  .parent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .comprobacion-compra {
    width: 262px;
    justify-content: flex-start;
    gap: 61.7px;
    font-size: 40px;
    font-family: var(--font-libre-caslon-display);
  }
  .parent {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .container-minus-plus-inner {
    width: 465px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 83.6px 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .container-minus-plus,
  .container-minus-plus-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .container-minus-plus {
    width: 1216px;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .container-minus-plus-wrapper {
    width: 1420px;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-inner {
    align-self: stretch;
    height: 1px;
    position: relative;
    filter: blur(4px);
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
  }
  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-33xl);
    max-width: 100%;
  }
  .resumen-de-la {
    height: 37px;
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .items-container-no-discounted {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 50px 0 49px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .ropa-sale,
  .tems-sin-descuento {
    align-self: stretch;
    position: relative;
  }
  .ropa-sale {
    z-index: 2;
  }
  .tems-sin-descuento-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
    min-width: 184px;
  }
  .div3 {
    height: 26px;
    position: relative;
    line-height: 31px;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .div3,
  .div4,
  .group {
    align-self: stretch;
  }
  .div4 {
    height: 26px;
    position: relative;
    line-height: 31px;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
    z-index: 1;
  }
  .group {
    flex-direction: column;
    gap: var(--gap-mid);
  }
  .frame-parent3,
  .frame-wrapper2,
  .group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-wrapper2 {
    width: 183px;
    flex-direction: column;
    padding: var(--padding-10xs) 0 0;
    box-sizing: border-box;
    text-align: right;
  }
  .frame-parent3 {
    width: 466px;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    row-gap: 20px;
  }
  .frame-wrapper1,
  .line-div {
    align-self: stretch;
    box-sizing: border-box;
  }
  .frame-wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
  }
  .line-div {
    height: 1px;
    position: relative;
    filter: blur(4px);
    border-top: 1px solid var(--color-black);
    z-index: 3;
  }
  .frame-parent2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10.2px;
    max-width: 100%;
  }
  .subtotal,
  .total1 {
    align-self: stretch;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .subtotal {
    height: 25px;
    z-index: 1;
  }
  .total1 {
    height: 27px;
    line-height: 31px;
  }
  .subtotallabel,
  .subtotallabel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .subtotallabel {
    align-self: stretch;
    gap: var(--gap-mid);
  }
  .subtotallabel-wrapper {
    width: 183px;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
  }
  .div5,
  .div6 {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
  }
  .div5 {
    width: 90px;
    height: 24px;
    min-width: 90px;
  }
  .div6 {
    align-self: stretch;
    height: 35px;
    font-family: var(--font-source-serif-pro);
    z-index: 1;
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lgi);
    min-width: 184px;
    text-align: right;
    font-family: var(--font-libre-caslon-display);
  }
  .frame-parent1,
  .frame-parent4,
  .subtotalcontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent4 {
    width: 466px;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 20px;
  }
  .frame-parent1,
  .subtotalcontainer {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    font-family: var(--font-source-serif-pro);
  }
  .frame-parent1 {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 var(--padding-6xs);
    gap: 13px;
    text-align: left;
    font-family: var(--font-libre-caslon-display);
  }
  .textbotton-child,
  .texto {
    position: absolute;
    width: 100%;
    left: 0;
  }
  .textbotton-child {
    height: 65.57%;
    top: 3.28%;
    right: 0;
    bottom: 31.15%;
    border-radius: var(--br-21xl);
    background-color: var(--color-steelblue);
  }
  .texto {
    height: 48.85%;
    top: 11.48%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .textbotton {
    height: 61px;
    width: 308px;
    position: relative;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25) inset;
    cursor: pointer;
  }
  .buttoninstance {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-3xl) 0 var(--padding-xl);
    font-size: var(--font-size-11xl);
    color: var(--color-white);
  }
  .items-container-no-discounted-parent {
    width: 710px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 45px;
    max-width: 100%;
  }
  .frame-footer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: center;
    font-size: var(--font-size-6xl);
    color: var(--color-black);
    font-family: var(--font-libre-caslon-text);
  }
  .frame-group,
  .pgina-pago {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-group {
    align-self: stretch;
    align-items: flex-start;
    gap: 43px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-black);
    font-family: var(--font-source-serif-pro);
  }
  .pgina-pago {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    align-items: flex-end;
    padding: 0 0 40px;
    box-sizing: border-box;
    gap: var(--gap-9xs);
    letter-spacing: normal;
  }
  @media screen and (max-width: 1025px) {
    .cantidad,
    .div,
    .mis-compras,
    .precio1,
    .producto,
    .total {
      font-size: var(--font-size-5xl);
    }
    .div1 {
      font-size: 32px;
    }
    .div2 {
      font-size: var(--font-size-5xl);
    }
    .container-minus-plus {
      flex-wrap: wrap;
    }
    .frame-container {
      gap: 26px 52px;
    }
    .items-container-no-discounted {
      padding-left: var(--padding-5xl);
      padding-right: var(--padding-6xl);
      box-sizing: border-box;
    }
    .texto {
      font-size: var(--font-size-5xl);
    }
    .items-container-no-discounted-parent {
      gap: 22px 45px;
    }
    .frame-group {
      gap: 21px 43px;
    }
  }
  @media screen and (max-width: 750px) {
    .mis-compras {
      font-size: var(--font-size-lg);
    }
    .los-artculos-no {
      font-size: var(--font-size-base);
    }
    .cantidad,
    .div,
    .precio1,
    .producto,
    .total {
      font-size: var(--font-size-lg);
    }
    .div1 {
      font-size: var(--font-size-5xl);
    }
    .div2 {
      font-size: var(--font-size-lg);
    }
    .comprobacion-compra {
      gap: 61.7px 31px;
    }
    .parent {
      flex-wrap: wrap;
    }
    .div3,
    .div4,
    .div5,
    .div6,
    .resumen-de-la,
    .ropa-sale,
    .subtotal,
    .tems-sin-descuento,
    .total1 {
      font-size: var(--font-size-xl);
    }
    .texto {
      font-size: var(--font-size-lg);
    }
  }
  @media screen and (max-width: 450px) {
    .precio {
      flex-wrap: wrap;
      gap: 46px 23px;
    }
    .producto-parent {
      flex-wrap: wrap;
      justify-content: center;
    }
}